fastapi>=0.115.0
uvicorn[standard]>=0.32.0
google-auth>=2.36.0
google-cloud-resource-manager>=1.14.0
google-cloud-compute>=1.19.0
pydantic>=2.10.0
pydantic-settings>=2.6.0
PyYAML>=6.0.0

pymongo>=4.10.0,<5
email-validator>=2.2.0

bcrypt>=5.0.0,<6
